.mac-window-container {
  position: absolute;
  border-radius: 10px;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Allow clicks to pass through */
}

.mac-window {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #191919;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  overflow: hidden;
}

.window-navbar {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 30px;
  background: #191919;
  backdrop-filter: blur(10px);
  padding: 0 20px;
  border-radius: 10px 10px 0 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: grab;
  pointer-events: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.window-navbar .dots {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.window-navbar .dots .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.window-navbar .dots .red {
  background-color: #ff5f56;
}
.window-navbar .dots .red:hover {
  cursor: pointer;
}
.window-navbar .dots .yellow {
  background-color: #ffbd2e;
}
.window-navbar .dots .green {
  background-color: #27c93f;
}

.mac-window::after { /* Optional visible resize handle */
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  z-index: 1001;
}

.content {
  display: flex;
  flex: 1;
  overflow: auto;
  background: #121212;
}

.mac-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  overflow: auto;
  height: 100%;
}